{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{%block header %}
    <h1>Entre com suas informações de login:</h1>
{% endblock header %}

{% block content %}
    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <!--Nao precisamos colocar os inputs porque a propria view template
        do django ja contem esses inputs-->
        {% buttons %}
            <button name="submit" class="btn btn-primary">Entrar</button>
        {% endbuttons %}
        <!--Precisamos falar para qual pagina queremos enviar o usuario autenticado-->
        <input type="hidden" name="next" value="{% url 'index' %}"/>
    </form>
{% endblock content %}