{% extends "learning_logs/base.html" %} <!--Ao utilizar chaves e %% dizemos que queremos executar codigos python/django no html chamamo isso de tag de template do django-->

{% block header %}
    <div class="jumbotron">
        <h1>Tenha suas anotações sempre à mão!</h1>
    </div>
{% endblock header%}

{% block content %}
    {% if user.is_authenticated %}
        <h2>
            Sempre que você aprender algo novo sobre um assunto, 
            faça uma anotação resumindo o que você aprendeu. :)
        </h2>
    {% else %}
        <h2>Nunca mais perca suas anotações,
            <a href="{% url 'signup' %}">
                crie uma conta
            </a>
            no Add Notes.
        </h2>
    {% endif %}

{% endblock content %}

