{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Adicione um novo tópico: </h2>
{% endblock header %}

{% block content %}
    
    <form action="{% url 'new_topic' %}" method='post' class="form">
        <!--Sempre precisamos passar essa tag de segurança do django na primeira
        linha do nosso formulario! Para evitar principais ataques hackers-->
        {% csrf_token %}
        {% bootstrap_form form %} <!--tag para formatacao do form-->
        <!--O Django ja sabe automaticamente que o forms reebido é pra ser colocado aqui-->
        {% buttons %}
            <button name="submit" class="btn btn-primary">Adicionar</button>
        {% endbuttons %}
    </form>
{% endblock content %}